<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rosenzest.electric.mapper.DetectTemplateBMapper">


	<select id="getTableBByTemplateId" resultType="com.rosenzest.electric.vo.DetectFormVo">
		select d.dict_label as name, 'B' as type, tb.bid as code 
		from detect_template_b tb left join sys_dict_data d on ( d.dict_value = tb.bid and d.dict_type = 'detect_table_b' )
		where tb.template_id = #{templateId} and tb.type = #{type} 
	</select>
	
	<select id="getViewTableBByTemplateId" resultType="com.rosenzest.electric.vo.DetectFormVo">
		select d.dict_label as name, 'B' as type, tb.bid as code, tb.type as attr_type 
		from detect_template_b tb left join sys_dict_data d on ( d.dict_value = tb.bid and d.dict_type = 'detect_table_b' )
		where tb.template_id = #{templateId} and tb.type in ('11','12','13')
	</select>
</mapper>
