<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rosenzest.electric.mapper.OwnerUnitDangerMapper">

	<select id="queryOwnerUnitDanger" resultType="com.rosenzest.electric.vo.OwnerUnitDangerVo">
		select d.id,d.unit_id,u.`name` as unit_name, d.building_id,d.unit_area_id,ua.`name` as unit_area_name, d.danger_id,d.type,d.level,d.description,d.suggestions,d.location,
		d.danger_pic,d.rectification_pic,d.detect_pic,d.status,d.inspector,d.initial_time
		from owner_unit_danger d 
		left join owner_unit u on u.id = d.unit_id 
		left join owner_unit_area ua on ua.id = d.unit_area_id
		where d.unit_id = #{unitId}
		<if test="date != null and date != ''"> and date(d.initial_time) = #{date} </if>
		<if test="keyword != null and keyword != ''">
			and (
			u.`name` like concat('%', #{keyword}, '%') 
			or ua.`name` like concat('%', #{keyword}, '%') 
			or d.location like concat('%', #{keyword}, '%')
			)
		</if>
 
	</select>
</mapper>
